<article>
  <h1><%= __('user_findPassword') %></h1>
  <form action="/findPassword/email" method="POST">
    <div><input type="text" name="email" placeholder="<%= __('user_email') %>"></div>
    <div><button><%= __('user_sendEmail') %></button></div>
  </form>
</article>