<article>
  <h1>아이디 찾기</h1>
  <form action="/findId/email" method="POST">
    <div><input type="text" name="email" placeholder="<%= __('user_email') %>"></div>
    <div><button><%= __('user_sendEmail') %></button></div>
  </form>
</article>