<article>
  <h1>비밀번호 찾기</h1>
  <form action="/findPassword/sms" method="POST">
    <div><input type="text" name="phoneNumber" placeholder="휴대폰 번호"></div>
    <div><button>문자 발송</button></div>
  </form>
</article>