<style>
  .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 2em;
  }
</style>
<article>
  <div class="notFound">404 Not Found</div>
</article>