<article>
  <h1><%= __('user_findPassword') %></h1>
  <% if (locals.setting.useSMS) { %>
  <div class="button"><a href="/findPassword/sms"><%= __('user_findPasswordBySMS') %></a></div>
  <% } %>
  <div class="button"><a href="/findPassword/email"><%= __('user_findPasswordByEmail') %></a></div>
</article>