<style>
  article .content .image {
    display: flex;
    justify-content: center;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
  }

  article .content .media {
    display: flex;
    justify-content: center;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
  }
</style>
<article>
  <div class="content">
    <%- page.content %>
  </div>
</article>