<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/login-and-join.css">
  </head>
  <body>
    <%- include('../header.ejs') %>
    <main>
      <div class="wrap">
        <h1>회원탈퇴 완료</h1>
      </div>
    </main>
    <%- include('../footer.ejs') %>
  </body>
</html>